.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  will-change: clip-path;
}

.hero-image {
  object-fit: cover;
  transform: scale(2);
  will-change: transform;
}
.navbar,
.hero-content,
.seccion-content {
  opacity: 12;
  transform: translateY(40px);
}
